*{
    font-family: 'Open Sans', sans-serif;
}
form{
    background-color: #f2f2f2;
    width: 250px;
    height: 300px;
    border-radius: 4px;
    border: 2px;
    border-color: black;
    border-style: solid;
}

input{
    width: 220px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
}

label{
    margin-left: 5px;
}


button{
    margin-left: 5px;
}